.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 91px;
  background-color: var(--primary-color);
  padding: 0 1rem;
  position: sticky;
  top: 0;
}
.header-logo {
  width: 150px;
}
.header-title {
  margin: 0;
  font-size: 2.25rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}
.header-title > span {
  color: #ffb800;
}

@media (max-width: 768px) {
  .header {
    height: 60px;
  }
  .header-logo {
    width: 100px;
  }
  .header-title {
    font-size: 1.3rem;
  }
}

@media (max-width: 280px) {
  .header-logo {
    width: 50px;
  }
  .header-title {
    font-size: 1rem;
  }
}
