.header {
  background-color: var(--primary-color);
  position: sticky;
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
  z-index: 999999;
}

.header-content {
  position: relative;
  width: 1240px;
  height: 60px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0;
  padding-left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  width: 90px;
}
.header-title {
  width: 300px;
  text-align: center;
  margin: 0;
  font-size: 2.25rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}
.header-title > span {
  color: #ffb800;
}
.header-icone {
  color: white;
}

.header-options {
  display: block;
  width: 30%;
  position: absolute;
  background-color: var(--primary-color);
  top: 60px;
  height: 0;
  padding: 0;
  margin: 0px;
  right: -55px;
  list-style: none;
  padding: 1.5rem 0;
  visibility: hidden;
  overflow-y: hidden;
  transition: 0.6s;
  z-index: 999999;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.header-options li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.active {
  visibility: visible;
  height: 50vh;
}
.header-info__avatar {
  width: 100px;
  height: 100%;
  border-radius: 50%;
}
.header-info__name {
  color: #fff;
  font-weight: 600;
}
.header-info__button {
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  border: 1px solid #fff;
  background-color: transparent;
  max-width: 80px;
  padding: 0.3rem;
  border-radius: 0.3rem;
  cursor: pointer;
}
.header-info__button:hover {
  background-color: #fff;
  color: var(--primary-color);
}

@media (max-width: 768px) {
  .header-content {
    width: 90%;
  }
  .header-logo {
    width: 100px;
  }
  .header-title {
    font-size: 1.3rem;
  }
  .header-options {
    right: -18px;
    width: 112%;
  }
}

@media (max-width: 280px) {
  .header-logo {
    width: 50px;
  }
  .header-title {
    font-size: 1rem;
  }
}
